{% extends 'base/base.html' %}
{% block content %}
<main class="container">
    <div class="grid-container">
        <div class="top-section">
            <h4>Welcome to QNA Section!</h4>
            <p>Here you can ask questions and get answers from the community.</p>
        </div>
        <div class="q-section">
            <h4>Questions</h4>
            {% for question in questions %}
            <div class="question-card">
                <p><a href="{% url 'question' question.id%}">{{ question.title }}</a></p>
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem ipsum dolor sit amet.</p>
                {% endfor %}
            </div>
        </div>
    <div />
</main>
{% endblock content %}
