@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('index.css');
@import url('question.css');
@import url('login.css');
@import url('register.css');
main{
    width: 100vh;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background: #fffde3;
    
}

body{
    background: #fffde3;
}

.bg-body-tertiary{
    background-color: #0a0a0a !important;
}
.nav-link{
    color: #fff !important;
    margin-right: 30px !important;
    font-size: 20px !important;
    font-weight: 500 !important;
}

.nav-link:hover{
    color: #fffde3 !important;
    transition: color 0.25s ease-in-out;
}

.navbar-brand{
    color: #fff !important;
    font-size: 25px !important;
    font-weight: 800 !important;
    margin-left: 30px !important;
}

.navbar-toggler{
    color: #fff !important;
}

.navbar-toggler {
    background-color: #fff !important;
}