{% extends 'base/base.html' %}
{% block content %}
<main class="container">
    <div class="question-grid">
        {% for qns in question %}
        <div class="question-card">
            <h4>{{qns.title}}</h4>
            <p class="user-question">Asked by: {{qns.user.username}}</p>
            <p class="date-time-created">Created at: {{qns.created_at}}</p>
            <p class="date-time-updated">Updated at: {{qns.updated_at}}</p>
        </div>
        <div class="comment-section-container-main">
            <form action="{% url 'question' qns.id %}" method="POST">
                {% csrf_token %}
                <div class="comment-section-container">
                    <div class="d-flex flex-column align-items-center gap-3">
                        <textarea class="form-control w-100" id="AddComment-Label" placeholder="Write your comments" name="form-input-text-box" rows="2"></textarea>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="answer-card">
            {% for ans in qns.question_answers.all %}
            <div class="answer-card-item">
                <p class="user-answer">Answered: {{ans.user.username}}</p>
                <p class="comment-answer">{{ans.answer}}</p><br />
                <p class="date-time-created">Commented at: {{ans.created_at}}</p>
                <p class="date-time-updated">Updated at: {{ans.updated_at}}</p>
                <p class="like-icon-strap"><i class="bi bi-hand-thumbs-up"></i><span>{{ans.likes_count}}</span></p>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock content %}
