{% extends 'base/base.html' %}
{% block content %}
<main class="container">
    <div class="question-grid">
        {% for qns in question %}
        <div class="question-card">
            <h4>{{qns.title}}</h4>
            <p class="user-question">Asked by: {{qns.user.username}}</p>
            <p class="date-time-created">Created at: {{qns.created_at}}</p>
            <p class="date-time-updated">Updated at: {{qns.updated_at}}</p>
        </div>
        <div class="comment-section-container-main">
            <form action="{% url 'question' qns.id %}" method="POST">
                {% csrf_token %}
                <div class="comment-section-container">
                    <div class="d-flex flex-column align-items-center gap-3">
                        <textarea class="form-control w-100" id="AddComment-Label" placeholder="Write your comments"
                            name="form-input-text-box" rows="2"></textarea>
                        <button type="submit" class="btn btn-color">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        {% if qns.question_answers.all %}
        <div class="answer-card">
            {% for ans in qns.question_answers.all %}
            {% if ans.answer %}
            <div class="answer-card-item">
                <p class="user-answer">Answered: {{ans.user.username}}</p>
                <p class="comment-answer">{{ans.answer}}</p><br />
                <p class="date-time-created">Commented at: {{ans.created_at}}</p>
                <p class="date-time-updated">Updated at: {{ans.updated_at}}</p>
                <div class="like-icon-strap-p">
                    <form action="{% url 'like' %}" class="like-icon-strap" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="answer_id" value="{{ans.id}}">
                        {% if user not in ans.liked.all %}
                        <button type="submit" class="btn btn-color">
                            <i class="bi bi-hand-thumbs-up"></i>
                        </button>
                        {% else %}
                        <button type="submit" class="btn btn-success">
                            <i class="bi bi-hand-thumbs-up"></i>
                        </button>
                        {% endif %}
                    </form>
                    <span class="answer-total-likes-count">{{ans.likes_count}}</span>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</main>
{% endblock content %}
