{% extends 'base/base.html' %}
{% block content %}
<main class="container">
    <div class="login-grid-section">
        <div class="login-content">
            {% include 'base/alert/alert.html' %}
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="login-section-container">
                    <div class="text-center mb-4">
                        <h1>Welcome Back!</h1>
                        <p>Please login to your account.</p>
                    </div>
                    {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <p class="alert alert-danger my-3">{{error}}</p>
                    {% endfor %}
                    {% endif %}
                    {% for fm in form %}
                    <div class="form-inputs">
                        <input type="hidden" name="next" value="{{ next }}">
                        {{fm.label_tag}} {{fm}} <small>
                            {{fm.errors|striptags}}
                    </div>
                    {% endfor %}
                    <div class="form-btn">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <div class="text-center mt-4">
                        <p>Not Registered?</p>
                        <a href="{% url 'register' %}">Register</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}
