{% extends 'base/base.html' %}
{% block content %}
<main class="container">
    <div class="login-grid-section">
        <div class="login-content">
            {% include 'base/alert/alert.html' %}
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="login-section-container">
                    <div class="text-center mb-4">
                        <h1>Welcome Back!</h1>
                        <p>Please login to your account.</p>
                    </div>
                    <div class="form-inputs">
                        <input type="hidden" name="next" value="{{ next }}">
                        <input type="email" class="form-control" id="email" placeholder="Email" name="email" required>
                        <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <div class="text-center mt-4">
                        <p>Not Registered?</p>
                        <a href="{% url 'register' %}">Register</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}


