{% extends 'base/base.html' %}
{% block content %}
<main class="container">
    <div class="register-grid-section">
        <div class="register-content">
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <div class="register-section-container">
                    <div class="text-center mb-4">
                        <h1>QNA</h1>
                        <p>Register your account.</p>
                    </div>
                    <div class="form-inputs">
                        <input type="email" class="form-control" id="email" placeholder="Email" name="email" required>
                        <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
                        <input type="password" class="form-control" id="password" placeholder="Confirm Password" name="confirm-password" required>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </div>
            </form>
            {% if error %}
            <div class="alert alert-danger mt-3" role="alert">
                {{ error }}
            </div>
            {% endif %}
            {% if success %}
            <div class="alert alert-success mt-3" role="alert">
                {{ success }}
            </div>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}