{% extends 'base/base.html' %}
{% block content %}
<main class="container">
    <div class="register-grid-section">
        <div class="register-content">
            {% include 'base/alert/alert.html' %}
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <div class="register-section-container">
                    <div class="text-center mb-4">
                        <h1>QNA</h1>
                        <p>Register your account.</p>
                    </div>
                    <div class="form-inputs">
                        <input type="text" class="form-control" id="username" placeholder="Username" name="username" required>
                        <input type="email" class="form-control" id="email" placeholder="Email" name="email" required>
                        <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
                        <input type="password" class="form-control" id="password" placeholder="Confirm Password" name="confirm_password" required>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                    <div class="text-center mt-4">
                        <p>Already Register?</p>
                        <a href="{% url 'login' %}">Login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}